body {
    background-image: url('/img/wallpaper.jpg'), linear-gradient(to right, #000000, #333333);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}
* {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'PT Sans', sans-serif;
    box-sizing: border-box;
}
form {
    width: 600px;
    border: 2px solid black;
    padding: 6rem;
    background-color: linear-gradient(to right, #000000, #333333);
    border: none;
    border-radius: 20px;
    color: aliceblue;
}
h1 {
    display: block;
    border: 4px solid rgb(240, 237, 237);
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
label {
    color: aliceblue;
    font-size: 10px;
    padding: 10px;
    font-weight: 300;
}
input {
    display: block;
    border: 2px solid black;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
}
.button-container {
    display: flex;
    justify-content: center;
    width: 100%;
}
button {
    background-color: rebeccapurple;
    padding: .5rem;
    color: white;
    border: none;
    width: 60%;
    border-radius: 5px;
    text-decoration: none;
}
button:hover {
    background-color: white;
    color: black;
}
a{
    float: left;
    margin-left: 10px;
    padding: .5rem;
    text-decoration: none;
}
.error{
    background-color: red;
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    margin: 20px auto;
}

.header {
    position: relative; 
    height: 60px;
    padding: 10px; 
}

.logo {
    position: absolute; 
    top: -620px; 
    right: -740px; 
    height: 130px; 
    width: auto; 
}