body {
    background-image: url('/img/wallpaper.jpg'), linear-gradient(to right, #000000, #333333);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: white;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    background-color: rgb(53, 91, 124);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
}

* {
    font-family: 'Lato', sans-serif;
    box-sizing: border-box;
}

form {
    width: 600px;
    padding: 6rem;
    background-color: linear-gradient(to right, #000000, #333333);
    border-radius: 20px;
    color: aliceblue;
}

h1 {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border: 4px solid rgb(240, 237, 237);

    border-radius: 10px;
}

label {
    color: aliceblue;
    font-size: 10px;
    padding: 10px;
    font-weight: 300;
}

input {
    display: block;
    width: 95%;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    border: 2px solid black;
}

.button-container {
    text-align: center; 
}

button {
    background-color: rebeccapurple;
    padding: .5rem;
    color: white;
    border: none;
    width: 60%;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    margin-top: 20px;
}

button:hover {
    background-color: white;
    color: black;
}

a {
    display: block;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
    color: rebeccapurple;
}

.error {
    background-color: red;
    color: black;
    padding: 10px;
    width: 95%;
    border-radius: 5px;
    margin: 20px auto;
}
.header {
    position: relative; 
    height: 60px; 
    padding: 10px; 
}

.logo {
    position: absolute; 
    top: -592px; 
    right: -740px; 
    height: 130px; 
    width: auto; 
}